@font-face {
    font-family: "hyunyDororong";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/hyunyDororong/hyunyDororong.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/hyunyDororong/hyunyDororong.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/hyunyDororong/hyunyDororong.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/hyunyDororong/hyunyDororong.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/hyunyDororong/hyunyDororong.ttf") format("truetype");
    font-display: swap;
}
.hyunyDororong {
    font-family: "hyunyDororong";
}